suites:
  default_suite:
    namespace: PSB\Persistence\Doctrine1
    psr4_prefix: PSB\Persistence\Doctrine1
    src_path: %paths.config%/src
    spec_path: %paths.config%/tests
extensions:
  - specsupport\PSB\Persistence\Doctrine1\PhpSpec\Extension\DoctrineFixtureExtension
doctrine_fixture_options:
  storage_configs:
    OUTBOX: # storage type as per PSB\Core\Persistence\StorageType::OUTBOX
      OUTBOX_MESSAGES_TABLE_NAME: # as per Doctrine1KnownSettingsEnum::OUTBOX_MESSAGES_TABLE_NAME
        table_name: psb_outbox_messages
        schema_provider: PSB\Persistence\Doctrine1\Outbox\SchemaProvider\OutboxMessageSchemaProvider
      OUTBOX_ENDPOINTS_TABLE_NAME: # as per Doctrine1KnownSettingsEnum::OUTBOX_ENDPOINTS_TABLE_NAME
        table_name: psb_outbox_endpoints
        schema_provider: PSB\Persistence\Doctrine1\Outbox\SchemaProvider\OutboxEndpointSchemaProvider
  connection_dsn: mysql://root:<PASSWORD>@127.0.0.1:3306/<DATABASE>
